.venv/
venv/
env/
ENV/
__pycache__/
*.pyc
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
manifest.json
manifest_cron.json
.env
export_this_first
minutes*json
client_secret*json
token.json
